* {
    margin: 0;
    padding: 0;
}

.contact-info {
    background-color: rgba(255, 255, 255, 0.034);
}

#nav-link a{
    display: none;  
}

@media only screen and (max-width: 767px) {

    #nav-link.dropdown a{
        display: block;
    }
}

@media only screen and (min-width: 768px) {
    
    #nav-link {
        float: right;
    }
    
    #nav-link a{
        display: inline-block;
    }
}