*{
    margin: 0;
    padding: 0;
 }
:root
{
    --kanit: 'Kanit', sans-serif;
    --vollkorn: 'Vollkorn', serif;
    --italic: 'Open Sans', sans-serif;
    --light-dark: rgb(83, 79, 79);
    --dark: rgb(39, 39, 39);
    --shadow: rgb(197, 197, 197);
    --light: hsl(0, 0%, 100%);
    --low-light:rgb(247, 247, 247);
    --dark-green: rgb(12, 95, 128);
    --sea-green:rgb(1, 146, 127);
    --dark-opcty:rgba(39, 39, 39, 0.856);
    --light-drk-opcty:rgba(83, 79, 79, 0.5);
}
body
{
    font-family: var(--italic);
}
h1, h2, h3{
    font-family: var(--vollkorn);
}
.container{
    width: 100%;
}
/* Navbar */
.nav
{
    display: -webkit-flex;
    display: flex;
    justify-content:center;
}
.top-nav
{
    width: 95%;
    background-color:var(--dark-opcty);
    z-index: 1;
    position: fixed;
    box-shadow: 5px  5px 5px var(--shadow);
    border-radius: 5px;
    overflow: hidden;
}
.top-nav a
{
    float: left;
    display: block;
    text-decoration: none;
    border-radius: 5px;
    padding: 12px 5%;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    font-family: var(--kanit);
    color: var(--light);
    -ms-transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}
.top-nav a:hover
{
    color: var(--light);
    background-color: var(--light-drk-opcty);
    text-decoration: 5px underline solid rgb(245, 138, 50);
}
.top-nav .icon{ display: none; }
/* Mobile view/ Tablets */
@media screen and (max-width: 600px)
{
    .top-nav a:not(:first-child)
    {
        display: none;
        transition: all 150ms ease-in-out;
    }
    .top-nav a.icon
    {
        float: right;
        display: block;
    }
    .top-nav{ width: 99%; }
}
@media screen and (max-width: 600px)
{
    .top-nav.responsive { position: relative; }
    .top-nav.responsive .icon
    {
        position: absolute;
        right: 0;
        top: 0;
    }
    .top-nav.responsive a
    {
        float: none;
        display: block;
        text-align: left;
    }
    .top-nav.responsive
    {
        position: fixed;
    }
}
/* Sections */
/* About */
#about
{
    width: 100%;
    height: 50rem;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-content: center;
    align-items:center;
    align-self: center;
    position: relative;
    background-image: url('../img/light-00.jpg');    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}   
#about::before
{
    content: "";
    position:absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.6);
}
/* Laptop view */
@media screen and (min-width: 600px)
{
    .about-me
    {
        width: 70%;
        text-align: center;
        color: var(--light);
        margin-top: 6rem;
        position: relative;
    }
    .greeting
    {
        display: -webkit-inline-flex;
        display: inline-flex;
        align-items: baseline;
        font-size: 2rem;
    }    
    .intro
    {
        margin: 1rem 0;
        font-size: 30px;
        border-bottom: 2px solid var(--light);
    }
    .about-me i
    {
        padding: 10px;
        font-size: 2rem;
    }
}
/* Mobile view/ Tablets */
@media screen and (max-width: 600px)
{
    #about
    {
        height: 35rem;
    }
    .about-me
    {
        width: 95%;
        text-align: center;
        color: var(--light);
        position: relative;
    }
    .greeting
    {
        display: -webkit-inline-flex;
        display: inline-flex;
        align-items: baseline;
        font-size: 1rem;
    } 
    .intro
    {
        font-size: 14px;
        border-bottom: 2px solid var(--light);
    }
    .about-me i
    {
        padding: 5px;
        font-size: 1rem;
    }
   
}
.about-me i:hover
{
    transform: scale(1.5);
    -ms-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
/* /About */

/*PORTFOLIO*/
#my-portfolio
{
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-content: center;
    align-items:center;
    align-self: center;
    position: relative;
    background-color: var(--dark);
}
.portf-container
{
    text-align: center;
    color: var(--light);
    width: 100%;
}
.portf-head
{
    position:relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(../img/light-bulbs-54.jpg);
    padding: 6rem 0;
}
#portf-head::before
{
    content: "";
    position:absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.255);
}

@media screen and (min-width: 992px)
{
    .portf-cntnt
    {
        display: grid;
        grid-template-columns: 6fr 6fr 6fr;
        grid-gap: 5px;
        grid-auto-rows: minmax(25rem, auto);
        margin: auto;
        overflow: hidden;
    }
    .portf-head h2
    {
        font-size: 2rem;
    }
    .portf-head p
    {
        font-size: 20px;
    }
}
@media screen and (max-width: 992px)
{
    .portf-cntnt
    {
        display: grid;
        grid-template-columns: 6fr 6fr;
        grid-gap: 5px;
        grid-auto-rows: minmax(25rem, auto);
        margin: auto;
        overflow: hidden;
    }
    .portf-head h2
    {
        font-size: 1.5rem;
    }
    .portf-head p
    {
        font-size: 18px;
    }
}
@media screen and (max-width: 600px)
{
    .portf-cntnt
    {
        display: grid;
        grid-template-columns: 6fr;
        grid-gap: 5px;
        grid-auto-rows: minmax(20rem, auto);
        margin: auto;
        overflow: hidden;
    }
    .portf-head h2
    {
        font-size: 1rem;
    }
    .portf-head p
    {
        font-size: 15px;
    }
}
.img-bg
{
   height: 100%;
   position: relative;
   background-color: var(--dark);
   overflow: hidden;
}
.image
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 800ms ease-in-out;
    -webkit-transition: all 800ms ease-in-out;
    -moz-transition: all 800ms ease-in-out;
}
.image:hover
{
    transform: scale(3);
    opacity: 10%;
}
.img01
{
    background-image: url(../img/contactlists.jpg);
}
.img02
{
    background-image: url(../img/parallax.png);
}
.img03
{
    background-image: url(../img/instaclone.png);
}
.links
{
    width: 100%;
    background-color:var(--sea-green);
    position: absolute;
    bottom: 0;
}
.links a
{
    text-decoration: none;
    color: var(--light);
    padding: 1rem 2rem;
}
.links a.live-demo
{
    float: left;
}
.links a.view-code
{
    float: right;
}
.portf-desc
{
    height: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}
.portf-desc p
{
    margin: 10px;
}
/* Contact Page */
#contact
{
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: var(--light);
}
.form-head
{
    text-align: center;
    background-color: var(--light-dark);
}

@media screen and (min-width: 992px)
{
    .contact-container
    {
        display: grid;
        grid-template-columns: 6fr 6fr;
        grid-gap: 1px;
        grid-auto-rows: minmax(auto, auto);
    }
    .eml-form
    {
        margin: 10%;
    }
    .form-head h2
    {
        line-height: 10rem;
        font-size: 2rem;
    }
}
@media screen and (max-width: 992px)
{
    .contact-container
    {
        display: grid;
        grid-template-columns: 6fr;
        grid-gap: 1px;
        grid-auto-rows: minmax(auto, auto);
    }
    .eml-form
    {
        margin: 10% 15%;
    }
    .form-head h2
    {
        line-height: 8rem;
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 600px)
{
    .contact-container
    {
        display: grid;
        grid-template-columns: 6fr;
        grid-gap: 1px;
        grid-auto-rows: minmax(auto, auto);
    }
    .eml-form
    {
        margin: 10% 2%;
    }
    .form-head h2
    {
        line-height: 6rem;
        font-size: 1rem;
    }
}
.contact-form
{
    background-color: var(--dark);
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-content: center;
    align-items:center;
    align-self: center;
    
}
.eml-form
{
    border: 2px solid var(--light);
    padding: 5px;
    border-radius: 5px;
    font-family: sans-serif;
}
.eml-form input, textarea, button
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.eml-form textarea
{
    min-height: 5rem;
}
.eml-form button
{
    background-color: var(--light-drk-opcty);
    color: var(--light);
    font-weight: bold;
}
.socmed
{
    background-color: var(--sea-green);
    width: 100%;
    height: 100%;
    display:flex;
    display: -webkit-flex;
    justify-content: center;
    align-content: center;
    align-items:center;
    align-self: center;
    flex-direction: column;
    text-align: center;
    line-height: 2rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10%;
}
.socmed-icons i
{
    font-size: 2rem;
    padding: 5px;
    background-color: var(--light);
    margin: 10px;
    border-radius: 5px;
}
.resume
{
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
            

}
.resume a
{
    text-decoration: none;
    font-size: 2rem;
    background-color: var(--dark);
    display: flex;
    align-items: baseline;
    padding: 5px 20px;
    color: var(--light);
    border-radius: 5px;
}
.resume i
{
    padding: 5px;
}
.ftr
{
    line-height: 3rem;
    background-color: var(--light-dark);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: var(--light);
}
/* Error handler */
.err
{
    border: 3px solid red;
    box-shadow: 5px  5px 5px rgb(247, 97, 97);
}